vendor/
composer.phar
INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation
*.lock
*.swp
.buildpath
.project
.settings/
*.old
*.*~
data/*
public/js/bower_components/*
node_modules/
node_modules/*
Documentação/*
*.sublime-*
*.old
*/*.old
config/application.config.old
